@model FitnessCoach.Models.TreningModel

@{
    ViewBag.Title = "myFitnessTraining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrapDataTables.js"></script>
    <link href="~/Content/CSS/dataTablesBootstrap.css" rel="stylesheet" />
</head>
<body style="background-image: url('../../Content/slike/myFitnessTrainingBackground.jpg'); background-repeat: no-repeat; background-position: center 3px; background-attachment: fixed; background-size: cover; padding-top: 0px;">





    <div class="container-fluid" style="margin-top:60px;">
        <div class="row" style="margin-top:20px; margin-bottom:20px; min-width:700px;">
            <div class="col-md-offset-2 col-md-8 well" style="background-color:rgba(244,244,244,0.3); height:auto; overflow-y:auto;">
                <div class="row well" style="background-color:rgba(244,244,244,0.6);text-align:center; color:#337ab7; font-weight:600; margin-bottom:10px;"><h3>My Exercise Plans</h3></div>


                <div class="row well" style="background-color:rgba(244,244,244,0.6);color:#337ab7;margin-bottom:10px;">
                    <div class="list-group">
                        @{
                            foreach (var item in Model.PlanoviTreningaKorisnika)
                            {



                        <!-- listing -->
                                <a href="#" class="list-group-item" style="color:green; font-weight:600; text-align:center;" data-toggle="collapse" data-target="#@item.Id.ToString()">@item.Naziv</a>
                                <ul class="list-group collapse" id="@item.Id.ToString()">
                                    @{
                                foreach (var item1 in Model.VezbeUTreningu(item.Id.ToString()))
                                {
                                    <li class="list-group-item" style="font-weight:600;">Muscle Group: @item1.Misicna_Partija</li>
                                        <li class="list-group-item">@item1.Naziv</li>
                                }
                                    }
                                </ul>
                        <!-- kraj listinga -->
                            }
                        }
                    </div>
                </div>


            </div>
        </div>
    </div>



</body>
</html>

